<h1>Tour agency</h1>
<div class="navbar">
  <input type="button" (click)="showCreateTour()" value="Add tour">
  <br>
  <div>
      <br>
      <input [(ngModel)]="searchName" type="text" placeholder="Tour name">
    <br><br>
    <input type="button" (click)="showSearch()" value="Search">
    <input type="button" (click)="showDetailedSearch()" value="Detailed search">
  </div>
  <div> <br>
    <input [(ngModel)]="Id" type="number" placeholder="Id">
    <input type="button" (click)="showOneTour()" value="GetById">
  </div><br>
  <input type="button" (click)="showAllTours()" value="All Tours"><br>
  <br>
  <input type="button" (click)="showAllUsers()" value="Users"><br>
  <br>
  <div>
    <input *ngIf="!currentUser" (click)="showRegister()" type="button" value="Register">
    <input *ngIf="!currentUser" (click)="showLogin()" type="button" value="Login">
    <br>
    <div *ngIf="currentUser"><br>
      Welcome, {{currentUser.Name}}
      <input (click)="showProfile()" type="button" value="My profile">
      <input (click)="logout()" type="button" value="Logout">
    </div>
  </div>
</div>
<app-tour-list *ngIf="allTours"></app-tour-list>
<app-create-tour *ngIf="createTour"></app-create-tour>
<app-register-user *ngIf="register"></app-register-user>
<app-login-user *ngIf="login" (shouldReload)="reloadCurrentUser()"></app-login-user>
<app-user-list *ngIf="allUsers"></app-user-list>
<app-tour-information *ngIf="oneTour" class="tour-container" [tour]="tourById"></app-tour-information>
<app-tour-list *ngIf="searchTour" [tours]="tourByName" (shouldLoad)="loadTours($event)"></app-tour-list>
<app-user-profile *ngIf="profile" [currentUser]="currentUser"></app-user-profile>
<app-tour-search *ngIf="detailedSearch"></app-tour-search>
